html, body{
margin:0;
padding: 0;
width: 100%;
height: 100%;
}
#section1{
text-align: center;
width: 100%;
height: 80%;
	
background: url(logoBg.jpg) no-repeat center center; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

	color: #fff;
}
#logo{
position: absolute;
top: 30%;
left: 50%;
transform: translateX(-50%) translateY(-30%);
}
#logo-text{
font-size: 4.5em;
}
#logo-tagline{
font-size: 2.5em;
font-style: italic;
}
#menuitems{
text-align: center;
}
.fullsize{
height: 100%;
}
.center{
text-align: center;
position: relative;
left: 50%;
transform: translateX(-50%);
}
.text-left{
text-align: left;
}
#section2{
background: #efefef;
padding-top:80px;
padding-bottom: 100px;
}
.margin-row-fix{
     margin:0px !important; 
   }
#section3{
background: url(aboutBg.jpg) no-repeat center center; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
padding-bottom:150px;
color:white;
	padding-top: 100px;
	padding-bottom: 250px;
}
.centercenter{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.imgbox{
padding-top: 180px;	
}